.row-fluid.hero-unit
  .span8
    %h1
      = t('.title')
    %p= simple_format t('.who_are_we')

  .span4
    = render('static_pages/carousel')

.row-fluid 
  .span4.center
    %a.btn.btn-large.btn-primary.btn-block{:href => services_path }= t('.our_services')
  .span4.center
    %p
      %a.btn.btn-large.btn-primary.btn-block{:href => realisations_path }= t('.our_realizations')
  .span4.center
    %p
      %a.btn.btn-large.btn-primary.btn-block{:href => resources_path }=  t('.our_resources')

