.row-fluid.hero-unit
  .span8
    %h1= t('.title')
    %p= simple_format t('.description')

  .span4
    %img.img-polaroid.img-free{:src => "/assets/puits.jpg"}

.row-fluid 
  .span4
    %h2= t('.professionalism_title')
    %p= t('.professionalism')

  .span4
    %h2= t('.work_title') 
    %p= simple_format t('.work')

  .span4
    %h2= t('.report_title')
    %p= t('.report')
