.row-fluid.hero-unit
  .span8
    %h1= t('.title')
    %ul
      - t('.resource_list').each_line do |point|
        %li= point

  .span4
    %img.img-polaroid{:src => "/assets/echantillon-kanenge.jpg"}

.row-fluid 
  .span6
    %h2= t('.personel_title')

    %p= simple_format t('.personel')

  .span6
    %h2= t('.equipment_title')
    %p= simple_format t('.equipment')
