.row-fluid.hero-unit
  .span8
    %h1= t('.title')
    %p= simple_format t('.offers')
      
  .span4
    %img.polaroid{:src => "/assets/tranchees-nguba-buzango.jpg"}

.row-fluid 
  .span6
    %h2= t('.our_services')
    %ul
      - t('.service_list').each_line do |point|
        %li= point
  .span6 
    %h2= t('.our_competencies')
    %ul                                
      - t('.competency_list').each_line do |point|
        %li= point


