%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        %h2.brand= link_to "Grain Geo", root_path, id: "logo"
        %nav.nav-pills
          %ul.nav.pull-right
            %li= link_to "Acceuil", root_path
            %li= link_to "Services", services_path
            %li= link_to "Realisations", realisations_path
            %li= link_to "Resources", resources_path
            %li= link_to "Contacts", contact_path

