!!! 5
%html
  %head
    %title Grain-Geo
    = stylesheet_link_tag    "application", :media => "all", "data-turbolinks-tracks" => true
    = javascript_include_tag "application", "data-turbolinks-tracks" => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container
      = yield
    = render 'layouts/footer'
